<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>


    <link rel="stylesheet" href="~/libman/cdnjs/select2/css/select2.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/select2-bootstrap-theme/select2-bootstrap.css" />
    <link rel="stylesheet" href="~/bundles/css/select2.min.css" />

    <link rel="stylesheet" href="~/libman/unpkg/datatables.net-bs/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/libman/unpkg/datatables.net-responsive-bs/css/responsive.bootstrap.css" />
    <link rel="stylesheet" href="~/bundles/css/datatables.responsive.min.css" />

    <link rel="stylesheet" href="~/css/alertify.min.css" />
    <link rel="stylesheet" href="~/css/themes/semantic.min.css" />

    <link rel="stylesheet" href="~/css/notications.css" />


    <link rel="stylesheet" href="~/libman/cdnjs/OwlCarousel2/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/OwlCarousel2/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/OwlCarousel2/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/OwlCarousel2/assets/owl.theme.default.min.css" />


    <link rel="stylesheet" href="~/libman/unpkg/datatables.net-buttons-bs/datatables.css" />
    <link rel="stylesheet" href="~/libman/unpkg/datatables.net-buttons-bs/datatables.min.css" />

    <link rel="stylesheet" href="~/libman/cdnjs/bootstrap-toggle/css/bootstrap-toggle.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/bootstrap-toggle/css/bootstrap-toggle.min.css" />

    <link rel="stylesheet" href="~/libman/cdnjs/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/libman/unpkg/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar_style.css" />

</head>
@inject Ecommerce.Services.StatisticsService StatsService
<body style="margin:0; margin-bottom:18%;background-color:#f5f0f0;">
    <div style="background-color:#f5f0f0;">



        @* --> Navbar <--*@
        <section class="header" style="margin-right:31px">
            <div class="overlay">
                <div class="row">
                    <div class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navlogo col-lg-2">
                                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">RE-MATE</a>
                                </div>

                            </div>


                            <!-- Collect the nav links, forms, and other content for toggling -->

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="col-lg-6">
                                    <ul class="nav navbar-nav nav-links">
                                        @if (User.IsInRole("ADMIN") || true)
                                        {
                                            <li><a asp-controller="User" asp-action="Index">Usuarios</a></li>
                                        }

                                        <li><a asp-controller="Lot" asp-action="Index">Lotes</a></li>
                                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contacto</a></li>
                                    </ul>
                                </div>



                                <div class="col-lg-4 right">
                                    <ul class="nav navbar-nav navbar-left" style="padding-left:80px">


                                        <li class="dropdown" style="top:15px; cursor:pointer">
                                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" id="lst-notificaciones">
                                                <i class="fa fa-bell fa-1x" style="color:#d7d9e6"></i>  <span class="label label-primary" id="idBell">@StatsService.GetCountNotificaciones(User.Identity.Name) </span>
                                            </a>
                                            <ul class="dropdown-menu notify dropdown-messages dropdown-alerts">
                                                @foreach (var item in StatsService.GetNotificaciones(User.Identity.Name))
                                                {
                                                    <li>
                                                        <a class="dropdown-item">
                                                            <div>
                                                                <i class="fas fa-envelope" style="color:black"></i><i style="color:black; font-style: normal;"> Ha ganado el articulo <strong>@item.Articulo.Descripcion</strong> del lote <strong>tal</strong></i>
                                                                <div><span class="float-left text-muted small">Hace @Convert.ToInt32(DateTime.Now.Subtract(item.Stamp).TotalMinutes); minutos </span></div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-divider"></li>
                                                }
                                            </ul>
                                        </li>


                                        <li><a href="#"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" ;><i class="far fa-user"></i>&nbsp;@User.Identity.Name&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu" style="margin-top:11px">
                                                <li style="font-size:20px; font-family:'Corbel'"><a asp-controller="Account" asp-action="UserData" style="color:#333"><i class="fas fa-id-card"></i>&nbsp;Datos del usuario</a></li>
                                                <li style="font-size:20px; font-family:'Corbel'"><a asp-controller="Account" asp-action="ChangePassword" style="color:#333"><i class="fas fa-lock"></i>&nbsp;Cambiar contraseña</a></li>
                                                <li style="font-size:20px; font-family:'Corbel'"><a id="btnLogOut" item-id="_LogOutID_" data-toggle="modal" style="color:#333" data-target="#modalApply" asp-controller="Login" asp-action="LogOut"><i class="fas fa-sign-out-alt"></i>&nbsp;Salir</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Modal -->
        <div id="templates" hidden>
            <div id="are-you-sure2">Confirmación</div>
            <div id="this-operation-can-not-be-revert2">¿Estás seguro que queres salir?</div>
            <div id="yes-text2">Si</div>
            <div id="no-text2">No</div>

            <div id="error-text2">Error</div>
            <div id="couldnt-approve2">Ocurrió un error al momento de realizar la solicitud</div>

            <div id="rejected2">Rechazado</div>
            <div id="couldnt-rejected2">Ocurrió un error al momento de realizar la solicitud</div>
        </div>


        <!-- Breadcumb -->
        <div style=" visibility: hidden; display: none; padding-top: 1.5em; visibility: visible; display: block; background-color:#dce1e3">
            @{
                if (IsSectionDefined("Breadcrumb"))
                {
                    <ol class="breadcrumb" style="margin-top: -26px; margin-right:0px;background-color:#ECE3E3; position:relative; border-radius:0">
                        @RenderSection("Breadcrumb", false)
                    </ol>
                }
            }
        </div>

        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <!-- Boton de subir -->
        <button class="btn btn-default pull-right" id="go-to-top-btn" title="Subir">
            <i class="fa fa-chevron-up fa-fw" style="color:white"></i>
        </button>



        @* --> Footer <--*@
        <footer>
            <div class="footer" style="padding: 25px;margin-left: -11px;" />
            <div class="container">
                <p style="color: #ff8d1e" class="pull-left copyright"> Copyright © Footer 2020 RE-MATE </p>

            </div>
        </footer>



        <script src="~/libman/cdnjs/jquery/jquery.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/libman/unpkg/sweetalert2/dist/sweetalert2.all.js"></script>
        <script src="~/libman/cdnjs/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/login/vendor/bootstrap/js/popper.js"></script>
        <script src="~/libman/cdnjs/select2/js/select2.js"></script>
        <script src="~/libman/cdnjs/select2/js/select2.min.js"></script>
        <script src="~/js/alertify.min.js"></script>

        <script src="~/libman/cdnjs/OwlCarousel2/owl.carousel.js"></script>
        <script src="~/libman/cdnjs/OwlCarousel2/owl.carousel.min.js"></script>


        <script src="~/libman/unpkg/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/libman/unpkg/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <script src="~/libman/unpkg/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/libman/unpkg/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/bundles/js/datatables.responsive.min.js"></script>
        <script src="~/js/Home/logOut.js"></script>

        @RenderSection("Scripts", required: false)

        
        <script>
            $(() => {
                $('#lst-notificaciones').on("click", function () {
                    readNotifications();
                });
            })

            function readNotifications() {
                var url = "/Notificaciones/ReadNotifications";
                $.get(url, null, function (data) {
                }); 
            }
        </script>
    </div>
</body>
</html>

<style>
    .footer {
        background-color: #252525;
        height: auto;
        padding-bottom: 30px;
        position: relative;
        width: 101%;
        border-bottom: 6px solid #0A2151;
        border-top: 6px solid #0A2151;
        bottom:-278px;

    }

        .footer p {
            color: #0c0f10;
            font-weight: lighter;
        }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
    }

</style>
